/*.green { background-color: green }
.blue  { background-color: blue  }
.red   { background-color: red   }
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans;
    font-size: 11px;
}
div#wrapper {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px
}
div.pad {
    padding: 10px;
}
div.box {
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ie-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}
